@font-face {
    font-family: tanha;
    src: url(../font/tanha-font-v0.9/Tanha.eot);
    src: url(../font/tanha-font-v0.9/Tanha.ttf);
    src: url(../font/tanha-font-v0.9/Tanha.woff);
    src: url(../font/tanha-font-v0.9/Tanha.woff2);
}
@font-face {
    font-family: Handlee;
    src: url(../font/Handlee-Regular.ttf);
}